<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=hi, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="contentWarpper"><%- include('./title.ejs')  %></div>
    <div class="contentWarpper"><%- include('./searchBar.ejs')  %> </div>
    <div class="contentWarpper"><%- include('./getAllTodos.ejs')  %></div>
</body>
</html>
