<form method="POST" action="/todo/todos" style="width: 80vw; margin: auto; text-align: center; padding: 25px 25px">
    <input type="text" placeholder="Create To Do" name="title" id='title' style="height: 40px; width: 240px"/>
    <button type="submit" style="height: 40px; color: white; background-color: rgb(52, 108, 213); border: none; border-radius: 5px; width: 70px; margin-left: 15px">Save</button>
</form>